/shelf/
/workspace.xml
/dataSources/
/dataSources.local.xml

__pychace__/
.idea/
*pyc
.DS_Store

profile_default/
ipython_config.py

pip-log.txt
pip-delete-this-directory.txt

# PyBuilder
.pybuilder/
target/